<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chat Room Login</title>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
</head>
<body>
	<div class="logo_box">
		<h3>Chat Room</h3>
		<form method="post" action="/login">
			<div class="input_outer">
				<span class="u_user"></span> <input id="username" name="username"
					class="text" type="text" placeholder="Username">
			</div>
			<div class="mb2">
				<a class="act-but submit" onclick="login()">Login</a>
			</div>
		</form>
		
		<div th:if="${message}" class="container_text mdui-color-pink-accent" style="padding:15px;">
      <h2 class="doc-chapter-title mdui-text-color-theme">An error occured</h2>
      <div class=" mdui-color-theme-50 doc-box-padding mdui-m-b-0" style="width: 200px;">
        <h4>Errror Message:</h4>
        <span th:text="${message}"></span>
      </div>
      
    </div>
	</div>

	<script>
    /**
     * Login
     */
    function login() {
      $("form").submit();
    }

    /**
     * Enter to login.
     */
    document.onkeydown = function (event) {
      var e = event || window.event || arguments.callee.caller.arguments[0];
      e.keyCode === 13 && login();
    };
</script>


</body>
</html>